# Module 6 - Introduction to Python for Data Analysis
# : Why you will NOT use Excel anymore!

* **Instructor**: Ronnie (Saerom) Lee and Jeff Lockhart
* **Date**: June 8th (Thursday), 2017
* **Packages**: pandas, numpy, matplotlib, statsmodels
    * *pandas*: an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
    
    * *Matplotlib*: a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms.
    * *Statsmodels*: a Python module that provides classes and functions for the estimation of many different statistical models

## 0. Import relevant packages
* *import* bring in packages of useful tools and functions for you to use
* *import (package_name) as (abbreviation)* lets you refer to the package by the name abbreviation, so you can type less

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf

# This makes it so that plots show up here in the notebook.
# You do not need it if you are not using a notebook.
%matplotlib inline

from IPython.display import Image

## 1. pandas

### 1.1. How to create, save, and read a dataframe

#### (1) Create a dataframe

In [ ]:
data = {'Course' : 'Intro to Big Data',
        'Section' : '6', 
        'Names' : ['Ronnie', 'Jeff', 'Teddy', 'Jerry'],
        'Group' : ['1', '2', '1', '2'],
        'Year' : ['Junior'] * 2 + ['Senior'] * 2,
        'Date' : pd.Timestamp('20160607'),
        'Quiz' : np.array([20, 90, 60, 100], dtype='float64')}

df = pd.DataFrame(data)
df

#### (2) Save the dataframe into a file: We will learn how to save first, since we don't have a file to read yet.
* csv/tsv/txt file (Note: Don't forget to specify the separator!)

In [ ]:
df.to_csv('data.csv', sep = ',', index = False) # if comma separated (csv)
df.to_csv('data.tsv', sep = '\t', index = False) # if tab separated (tsv)
df.to_csv('data.txt', sep = '\t', index = False) # you can also use sep = ',' as in csv files

* Excel file

In [ ]:
df.to_excel('data.xlsx', index_label='label')

#### (3) Read a file into a dataframe
* csv/tsv/txt file (Note: Don't forget to specify the separator!)

In [ ]:
df_csv = pd.read_csv('data.csv', sep = ',')
df_csv

In [ ]:
df_tsv = pd.read_csv('data.tsv', sep = '\t')
df_tsv

* Excel file

In [ ]:
with pd.ExcelFile('data.xlsx') as xlsx:
    df_excel = pd.read_excel(xlsx, sheetname = 'Sheet1')
df_excel

### If there are multiple sheets to read from
# with pd.ExcelFile('data.xlsx') as xlsx:
#    df_sheet1 = pd.read_excel(xlsx, sheetname = 'Sheet1')
#    df_sheet2 = pd.read_excel(xlsx, sheetname = 'Sheet2')

* Other formats you can read
    - JSON strings: pd.read_json()
    - HTML tables: pd.read_html()
    - SQL databases: pd.read_sql_table()
    - SAS files: pd.read_sas()
    - Stata files: pd.read_stata()  
    - and many more...

### 1.2. How to add and remove row/column(s) in the dateframe
#### (1) Add row/column(s)
* Rows using *.append()*

In [ ]:
# First, create a new dataframe
new_data = {'Course' : 'Intro to Big Data',
        'Section' : '6',
        'Names' : ['The Donald', 'Melania'],
        'Group' : '5',
        'Year' : ['Freshman', 'Sophomore'],
        'Date' : pd.Timestamp('20160607'),
        'Quiz' : np.array([5, 85], dtype='float64')}

df2 = pd.DataFrame(new_data)
df2

In [ ]:
# Append the new dataframe to the existing dataframe
df = df.append(df2, ignore_index=True)
df

* Or an alternative way to add row(s) is to use *pd.concat()*

In [ ]:
df = pd.concat([df, df2], axis = 0, ignore_index = True)    # If axis = 1, then add column
df

* Columns

In [ ]:
df['Assignment'] = np.array([45, 85, 50, 90, 10, 70, 10, 70], dtype='float64')
df

#### (3) Remove rows, columns, and duplicates
* Rows (by index)

In [ ]:
df.drop(0)

* Columns

In [ ]:
df = df.drop('Date', axis = 1)    
# Note: axis = 1 denotes that we are referring to a column, not a row
df

* Duplicates

In [ ]:
# First, in order to check whether there are any duplicates
df.duplicated()

In [ ]:
# If there are duplicates, then run the following code
df = df.drop_duplicates()
df

### 1.3. Merge two dataframes
* **Q.** Assume that the students were assigned to groups. For the term project, each group is required to do a presentation and submit a report. Suppose that you graded the presentations and the reports as the following. Create a dataframe with the following information:
    - Group 1: 
        - Presentation: 80
        - Report: 60
    - Group 2:
        - Presentation: 90
        - Report: 80
    - Group 3:
        - Presentation: 100
        - Report: 70
    - Group 4:
        - Presentation: 50
        - Report: 30

In [ ]:
term_project = {'Group' : ['1', '2', '3', '4'],
                'Presentation': [80., 90., 100., 50.],
                'Report' : np.array([60, 80, 70, 30], dtype='float64')}

df3 = pd.DataFrame(term_project)
df3

* Rather than putting in the scores one by one, we can simply *merge* the two tables.

In [ ]:
pd.merge(df, df3, on = 'Group')

* **Q.** OOPS! We lost The Donald and Melania! What went wrong?


* **Q.** How should we merge the data in order to keep The Donald and Melania?
    * Important parameter: how = {'left', 'right', 'outer', 'inner'}
        - **inner** (*default*): use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys
        - **outer**: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically
        - **left**: use only keys from left frame, similar to a SQL left outer join; preserve key order
        - **right**: use only keys from right frame, similar to a SQL right outer join; preserve key order
    
* **Q.** Which one of these should we set *how* as?

In [ ]:
pd.merge(df, df3, how = 'left', on = 'Group')

* **Q.** How would the dataframe look like if we set *how = right* or *how = outer*?

In [ ]:
pd.merge(df, df3, how = 'right', on = 'Group')

In [ ]:
pd.merge(df, df3, how = 'outer', on = 'Group')

* Thus, the right way to merge the two dataframes is

In [ ]:
df = pd.merge(df, df3, how = 'left', on = 'Group')
df

### 1.4. Check what's in the dataframe
#### (1) See the top and bottom rows of the dataframe

In [ ]:
nRows = 3    # The number of rows to show
df.head(nRows)

In [ ]:
df.tail(nRows)

#### (2) Display the index, columns, and the underlying data

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

#### (3) Sort by values

In [ ]:
df.sort_values(by='Quiz')   # Ascending order

In [ ]:
df.sort_values(by='Quiz', ascending=False)    # Descending order

* **Q.** What would happen if we sort a column which has a missing value (i.e., NaN)?

In [ ]:
df.sort_values(by='Report', ascending=False)    # Descending order

#### (4) Search for a value

In [ ]:
df.where(df['Assignment'] > 50)

* For specific column

In [ ]:
df['Names'].where(df['Assignment'] > 50)

* **Q.** How can we count the number of students who got 'Assignment' higher than 50?

In [ ]:
df['Names'].where(df['Assignment'] > 50).count()

#### (5) Select
* Column(s)

In [ ]:
df['Assignment']

* Row(s)

In [ ]:
df[0:3]

* By location

In [ ]:
df.loc[0,'Names']

In [ ]:
df.loc[0,['Assignment','Quiz']]

* Using a condition

In [ ]:
df[df['Assignment'] > 50]

In [ ]:
df[df['Year'].isin(['Junior'])]

### 1.5. Missing data
* Let's first take a look at what we have as our dataframe

In [ ]:
df

#### (1) Check whether there are any missing data

In [ ]:
pd.isnull(df)

* If the dataframe is large in dimension, it would be NOT be easy to see whether there are any 'True's
    
$\rightarrow$ An easier way to check is to use

In [ ]:
pd.isnull(df).sum()

#### (2) [Option 1] Drop row/column(s) with missing data
* Drop row(s)

In [ ]:
df.dropna(how='any', axis = 0)

* Drop column(s)

In [ ]:
df.dropna(how='any', axis = 1)

#### (3) [Option 2] Fill in missing values
* Fill in ALL missing data with a single value

In [ ]:
df.fillna(value = 0)

* Fill in a single value by location

In [ ]:
df.loc[4,'Presentation'] = 30
df.loc[5,'Presentation'] = 20
df.loc[4,'Report'] = 60
df.loc[5,'Report'] = 70
df

### 1.6. Basic statistics

#### (1) Describe shows a quick statistic summary of your data

In [ ]:
df.describe()

* **Q.** EWW, IT'S UGLY WITH TOO MANY ZEROS! How can we make this more prettier?

In [ ]:
df.describe().round(2)

####  (2) Caculate
* Mean

In [ ]:
df.mean().round(2)

* Median

In [ ]:
df.median().round(2)

* Min/Max

In [ ]:
df['Report'].min().round(2)

In [ ]:
df['Report'].max().round(2)

* Variance

In [ ]:
df.var().round(2)

* Correlation

In [ ]:
df.corr().round(2)

#### (3) Grouping: a process involving one or more of the following steps
* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
df.groupby('Group').mean()

* **Q.** How can we group by 'Group' and 'Year'?

In [ ]:
df.groupby(['Group', 'Year']).mean()

#### (4) Pivot tables

In [ ]:
pd.pivot_table(df, values='Report', index=['Year'], columns=['Group'])

### 1.4. Basic column operations
* Logarithm
    - Natural logarithm: np.log()
    - The base 10 logarithm: np.log10()
    - The base 2 logarithm: np.log2()

In [ ]:
df['log_Report'] = np.log(df['Report'])
df

* Square root

In [ ]:
df['sqrt_Report'] = np.sqrt(df['Report'])
df

* **Q.** Suppose that the evaluation is based on the following weights
    - Quiz: 15%
    - Assignment: 20%
    - Presentation: 25%
    - Report: 40%

How can we make a new column 'Total' which calculate the weighted sum and rank the students by 'Total' in descending order?

In [ ]:
df['Total'] = 0.15 * df['Quiz'] + 0.2 * df['Assignment'] + 0.25 * df['Presentation'] + 0.4 * df['Report']
df.sort_values(by='Total', ascending=False)

### 1.7. Application: Let's apply these tools to a set of real data
#### Q. Read the datafile 'Salaries.csv' (separator = comma) as the variable 'salaries' and show its FIRST 10 rows

In [ ]:
salaries = pd.read_csv('./MLB/Salaries.csv', sep = ',')
salaries.head(10)

#### Q. Read the datafile 'Batting.xlsx' (sheetname = 'Batting') as the variable 'batting' and show its LAST 5 rows

In [ ]:
with pd.ExcelFile('./MLB/Batting.xlsx') as xlsx:
    batting = pd.read_excel(xlsx, sheetname = 'Batting')
batting.tail(5)

#### Q. Create a variable 'data' by LEFT MERGING 'salaries' and 'batting' based on 'playerID',  'yearID', and  'teamID' and show the FIRST 7 rows

In [ ]:
data = pd.merge(salaries, batting, how='left', on = ['player', 'year', 'team'])
data.head(7)

#### Q. Read the STATA datafile 'Pitching.dta' as the variable 'pitching' and show its LAST 4 rows

In [ ]:
pitching  = pd.read_stata('./MLB/Pitching.dta')
pitching.tail(4)

#### Q. FOR SIMPLICITY, drop all columns with missing values

In [ ]:
pitching = pitching.dropna(how='any', axis = 1)
pitching.head()

#### Q. LEFT MERGE 'data' and 'pitching' based on 'player', 'year', and 'team' and show the top 5 rows

In [ ]:
data = pd.merge(data, pitching, how='left', on = ['player', 'year', 'team'])
data.head(5)

#### Q. Check whether there are any missing values in 'data'

In [ ]:
pd.isnull(data).sum()

#### Q. FOR SIMPLICITY, fill in the missing values with zeros and re-check whether there are any missing values

In [ ]:
data = data.fillna(value = 0.)
pd.isnull(data).sum()

#### Q. Read the csv files 'Basic.csv' (separator = comma) and INNER MERGE with 'data' based on 'player'

In [ ]:
basic = pd.read_csv('./MLB/Basic.csv', sep = ',')
data = pd.merge(data, basic, how='inner', on = ['player'])
data.head()

#### Q. Read the csv files 'Teams.csv' (separator = comma) and INNER MERGE with 'data' based on 'player'

In [ ]:
teams = pd.read_csv('./MLB/Teams.csv', sep = ',')
data = pd.merge(data, teams, how='left', on = ['team', 'year'])
data.head()

#### Q. Save the dataframe 'data' as a tsv file, 'baseball.tsv'

In [ ]:
data.to_csv('baseball.tsv', sep = '\t', index = False)

#### Q. Create a new column 'log_salary' by putting a natural log on ('salary' + 1)

In [ ]:
data['log_salary'] = np.log(data['salary'] + 1)
data.describe().round(2)

#### Q. Examine summary statistics

In [ ]:
data.describe().round(2)

#### Q. Examine statistics grouping by 'team' and show the FIRST 5 rows

In [ ]:
data.groupby('team').mean().round(2).head()

#### Q. Examine statistics grouping by 'team' AND 'year' and show the FIRST 20 rows

In [ ]:
data.groupby(['team', 'year']).mean().round(2).head(20)

#### Q. [TRY GOOGLING] Create dummy variables for 'year'

In [ ]:
year_dummies = pd.get_dummies(data['year'],  drop_first = True)
year_dummies.head()

* Concatenate the two dataframes

In [ ]:
data = pd.concat([data, year_dummies], axis = 1)
data.head()

## 2. matplotlib
### 2.1. Let's plot this data

In [ ]:
data.columns.values

### 2.2. Histogram: Histograms and other simple plots are easy

In [ ]:
data['salary'].hist(bins=20)

In [ ]:
data['log_salary'].hist(bins=20)

### 2.3. Scatter plot: Basic two variable plots like this scatter are easy, too.

In [ ]:
data.plot.scatter(x = 'batting_RBI', 
                  y = 'salary',
                  title = 'Scatter plot',
                  figsize = (10, 8))

### 2.4. Line graph

In [ ]:
#let's get average salary by year born
last = data[(data['year'] == 2014) & (data['birthYear'] > 1900)]
tmp = last.groupby(by='birthYear').mean()

#And make a line plot of it...
tmp.plot.line(y='log_salary')

* But what if we want to change the formatting?

In [ ]:
#ax stands for "axis", we'll use this object to change more settings
#we can also specify the image size, in inches, right here with the figsize argument
ax = tmp.plot.line(y='log_salary', figsize=(10,8))

#add a title to the chart
ax.set_title('Average salary by year born')

#label the axes
ax.set_ylabel('log(salary)')
ax.set_xlabel('Year born')

#set the ticks so they're not half years
#The range command makes a list of years starting in 1972 and counting by 2 up to (not including) 1993.
ax.set_xticks(range(1972, 1993, 2))

#show our plot
plt.show()

### 2.5. Bar chart

In [ ]:
#group our data by rank
tmp = data.groupby(by='Rank').mean()

#plot the mean log salary by rank
ax = tmp['log_salary'].plot.bar(figsize=(10,8))
ax.set_title('Average pay by rank')
ax.set_ylabel('log(salary)')
ax.set_xlabel('Rank')

#set the upper and lower limits of the y axis
ax.set_ylim(ymin=0, ymax=16)

#get the location of the bars (rectangles)
rects = ax.patches
#loop throgh each bar and label it with its value
for rect, label in zip(rects, tmp['log_salary']):
    #find out the height of the bar on the image
    height = rect.get_height()
    l = '{:5.2f}'.format(label)
    ax.text(rect.get_x() + rect.get_width()/2, height + 0.5, l, ha='center', va='bottom')

plt.show()

* Bar chart with error bars

In [ ]:
#find the standard deviation instead of the mean when we group by rank
tmp2 = data.groupby(by='Rank').std()
#add the errors to out plotting call 
ax = tmp['log_salary'].plot.bar(yerr=tmp2['log_salary'], figsize=(10,8))
ax.set_title('Average pay by rank')
ax.set_ylabel('log(salery)')
ax.set_xlabel('Rank')

#set the upper and lower limits of the y axis
ax.set_ylim(ymin=0, ymax=18)

plt.show()

In [ ]:
#make a boxplot of salaries, by rank
ax = data.boxplot(column='log_salary', by='Rank', figsize=(10,8))
ax.set_title('Pay by rank')
ax.set_ylabel('log(salary)')
ax.set_xlabel('Rank')

plt.show()

### 2.6. FOR FUN: Now let's make it look like xkcd.com

In [ ]:
with plt.xkcd():
    data.log_salary.hist(bins=20)

In [ ]:
with plt.xkcd():
    tmp = last.groupby(by='birthYear').mean()
    ax = tmp.plot.line(y='log_salary', figsize=(10,8))
    ax.set_title('Average salary, by year born')
    ax.set_ylabel('log(salary)')
    ax.set_xlabel('Year born')
    ax.set_xticks(range(1972, 1993, 2))
    plt.show()

#### In fact, we can use many styles!

In [ ]:
plt.style.available

In [ ]:
plt.style.use('fivethirtyeight')
ax = tmp.plot.line(y='log_salary', figsize=(10,8))
ax.set_title('Average salary, by year born')
ax.set_ylabel('log(salary)')
ax.set_xlabel('Year born')
ax.set_xticks(range(1972, 1993, 2))
plt.show()

In [ ]:
plt.style.use('ggplot')
ax = tmp.plot.line(y='log_salary', figsize=(10,8))
ax.set_title('Average salary, by year born')
ax.set_ylabel('log(salary)')
ax.set_xlabel('Year born')
ax.set_xticks(range(1972, 1993, 2))
plt.show()

In [ ]:
plt.style.use('classic')
ax = tmp.plot.line(y='log_salary', figsize=(10,8))
ax.set_title('Average salary, by year born')
ax.set_ylabel('log(salary)')
ax.set_xlabel('Year born')
ax.set_xticks(range(1972, 1993, 2))
plt.show()

In [ ]:
plt.style.use('seaborn')
ax = tmp.plot.line(y='log_salary', figsize=(10,8))
ax.set_title('Average salary, by year born')
ax.set_ylabel('log(salary)')
ax.set_xlabel('Year born')
ax.set_xticks(range(1972, 1993, 2))
plt.show()

## 3. statsmodels: Let's run regressions!

* **Q.** (Linear regression) Let's see whether RBI and ERA explains log_salary

In [ ]:
formula = 'log_salary ~ batting_RBI + ERA'
result_ols = smf.ols(formula = formula, data = data).fit()
print(result_ols.summary())

* **Q.** (Logistic regression) Let's see whether RBI and ERA explains whether the player gets above-average log_salary

In [ ]:
data['above_average'] = (data['log_salary'] > data['log_salary'].mean()).astype(float)
data['above_average'].head()

In [ ]:
formula = 'above_average ~ batting_RBI + ERA'
result_logit = smf.logit(formula = formula, data = data).fit()
print(result_logit.summary())

#### In statsmodels, there are many other methods and tools that you can use. For more information, click [here](http://www.statsmodels.org/stable/index.html).